*{
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
}

/*.sidebar{
    position:fixed;
    left:0px;
    width:40%;
    height:100%;
    background-color: grey;
    visibility:none;
    margin:0px;
    padding:0px;
    list-style:none;
    text-decoration: none;
}
.sidebar header{
    font-size: 22px;
    color: black;
    text-align: center;
    line-height:70px;
    background-color: rgb(96, 96, 96);
    user-select:none;
    visibility:none;
}

/*.sidebar ul a{
    display:block;
    height:100%;
    width: 100%;
    line-height: 100px;
    font: size 20px;
    color:black;
    padding-left: 60px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,0.1);
    transition: .4s;
    visibility:none;
    font-size: 25px;
}

ul li:hover a{
    padding-left:70px;
    visibility:none;
}
#edit{
    position:relative;
    left:100px;
}

#navbar {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }*/

  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:grey;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:black;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    padding-left:70px;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    margin-right: 50px;
  }
  #edit{
    position:relative;
    left:100px;
}
  
  #main {
    transition: margin-right .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }